@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-color: #f1e7db;
}

a {
   text-decoration: none;
}

li {
   list-style-type: none;
}

/* Global */

.globalWidth {
   width: 672px;
   margin: 0 auto;
}
